.footer {
  margin: 800px 0 100px 0;
  color: #fff;
  position: relative;
  &_title {
    padding-top: 40px;
    display: flex;
    .footer_left {
      padding-right: 350px;
      a {
        color: #fff;
        border-bottom: 2px solid #fff;
        padding: 10px;
      }
    }
    .footer_center {
      padding-right: 200px;
      a {
        color: #fff;
      }
      p {
        padding-top: 40px;
      }
      a:last-child {
        display: inline-block;
        margin-top: 60px;
        background-color: #191919;
        padding: 10px 30px;
        border-radius: 30px;
      }
    }
    .footer_right {
      a {
        color: #fff;
      }
      p {
        padding-top: 40px;
      }
      a:last-child {
        display: inline-block;
        margin-top: 60px;
        background-color: #191919;
        padding: 10px 30px;
        border-radius: 30px;
      }
    }
  }
  .footer_social {
    text-align: center;
    padding-top: 250px;
    img {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      padding: 10px;
      margin-right: 40px;
    }
    img:hover {
      background-color: aqua;
    }
    .footer_rights {
      display: flex;
      align-items: center;
      padding-left: 460px;
      p {
        padding-right: 40px;
        padding-top: 60px;
      }
    }
  }
  .footer_layers_first {
    position: absolute;
    top: 6%;
    left: 37%;
  }
  .footer_layers_second {
    position: absolute;
    top: -2%;
    left: 61%;
  }
}
